.cards
    .container.text-center
        .row
            .col
                .card
                    img.card-img-top(
                    src='img/Artboard1.png',
                    alt='Picture1'
                    )
                    .card-body
                        a(href="#") Оформление деревьев
            .col
                .card
                        img.card-img-top(
                        src='img/Artboard2.png',
                        alt='Picture2',
                        )
                        .card-body
                            a(href="#") Новогоднее оформление магазинов и ТЦ
            .col
                .card
                        img.card-img-top(
                        src='img/Artboard3.png',
                        alt='Picture3'
                        )
                        .card-body
                            a(href="#") Новогоднее оформление домов