header
    nav.navbar.navbar-expand-lg.navbar-light 
        .container
            .first
                a.navbar-brand(
                href="./index.html"
                ) Узоры Света
            button.navbar-toggler(
                type="button", data-bs-toggle="collapse",
                data-bs-target="#navbarSupportedContent",
                aria-controls="navbarSupportedContent",
                aria-expanded="false",
                aria-label="Toggle navigation"
                )
                span.navbar-toggler-icon
            .collapse.navbar-collapse(id="navbarSupportedContent")
                ul.nav.navbar-nav.mx-auto.mb-2.mb-lg-0
                    li.nav-item.d-none
                        button.nav-link.active(
                        id="main-button-hidden"
                        data-bs-toggle="tab"
                        data-bs-target="#Main"
                        ) Main
                    li.nav-item
                        button.nav-link(
                        id="first-button"
                        data-bs-toggle="tab"
                        data-bs-target="#first"
                        ) НАШИ УСЛУГИ
                    li.nav-item
                        button.nav-link(
                        id="second-button"
                        data-bs-toggle="tab"
                        data-bs-target="#second"
                        ) ЦЕНЫ
                    li.nav-item
                        button.nav-link(
                        id="third-button"
                        data-bs-toggle="tab"
                        data-bs-target="#third"
                        ) КОНТАКТЫ
            .last 
                p.navbar-brand +7 (499) 390-74-51