.tab-content(
    id="myTabContent"
    )
    .tab-pane.fade.show.active(
        id="first"
        role="tabpanel"
        aria-labelledby="first-button"
        ) Lorem ipsum dolor sit amet.
    .tab-pane.fade(
        id="second"
        role="tabpanel"
        aria-labelledby="second-button"
        ) Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, deleniti.
    .tab-pane.fade(
        id="third"
        role="tabpanel"
        aria-labelledby="third-button"
        ) Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus velit dolores debitis illum, eligendi totam.