.container.price-list
    .row 
        .col-lg-7.list
            p прайс-лист
        .col-lg-5.discount 
            .container
                .row 
                    .col.form-1
                        form(
                        action='#'
                        )
                            .form-group 
                                input(
                                type="(text)",
                                placeholder='Введите ваше имя',
                                color='#FFFFFF',
                                class='form-control',
                                required
                                )
                .row 
                    .col.form-2
                        form(
                        action='#'
                        )
                            .form-group 
                                input(
                                type="(text)",
                                placeholder='Введите ваш телефон',
                                class='form-control',
                                required
                                )
                .row.button
                        .col.form-button
                            a.nav-link.active.text-center(href="#") Получить скидку