.container.price-list
    .row 
        .col-lg-7.list
            .container
                h1 Цены на световое оформление
                table.table 
                    tbody 
                        tr
                            td Стоимость монтажа световых гирлянд за 1 метр гирлянды
                            td <span class="colortext">от 110 руб.</span>
                        tr.table-group-divider
                            td Монтаж плоских гирлянд за 1 метр
                            td <span class="colortext">от 140 руб.</span>
                        tr.table-group-divider
                            td Монтаж гибкого неона без направляющей за 1 метр
                            td <span class="colortext">от 130 руб.</span>
                        tr.table-group-divider
                            td Монтаж плоских фигур, снежинок, звезд за фигуру
                            td <span class="colortext">от 800 руб.</span>
                        tr.table-group-divider
                            td Оформление елок игрушками за игрушку
                            td <span class="colortext">10-35 руб.</span>
                        tr.table-group-divider
                            td Освещение деревьев высотой до 3-х метров за 1 метр гирлянды
                            td <span class="colortext">от 80 руб.</span>
                        tr.table-group-divider
                            td Освещение деревьев высотой более 3-х метров за 1 метр гирлянды
                            td <span class="colortext">от 55 руб.</span>
                        tr.table-group-divider
                            td Укладка уличного кабеля за 1 метр
                            td <span class="colortext">от 50 руб.</span>
                        tr.table-group-divider
                            td Установка реле времени 1 реле
                            td <span class="colortext">от 800 руб.</span>
        .col-lg-5.discount 
            .container
                .row 
                    .col.form-1
                        form(
                        action='#'
                        )
                            .form-group 
                                input(
                                type="(text)",
                                placeholder='Введите ваше имя',
                                color='#FFFFFF',
                                class='form-control',
                                required
                                )
                .row 
                    .col.form-2
                        form(
                        action='#'
                        )
                            .form-group 
                                input(
                                type="(text)",
                                placeholder='Введите ваш телефон',
                                class='form-control',
                                required
                                )
                .row.button
                        .col.form-button
                            a.nav-link.active.text-center(href="#") Получить скидку