doctype html
html(lang="ru")
    head
        meta(
            name="viewport",
            content="width=device-width",
            initial-scale="1.0"
            )
        meta(charset="utf-8")
        title main

    body
        header
            include pug/header
            //-nav.navbar.navbar-expand-lg.navbar-light 
                .container
                    .first
                        a.navbar-brand(href="#") Узоры Света
                    button.navbar-toggler(
                        type="button", data-bs-toggle="collapse",
                        data-bs-target="#navbarSupportedContent",
                        aria-controls="navbarSupportedContent",
                        aria-expanded="false",
                        aria-label="Toggle navigation"
                        )
                        span.navbar-toggler-icon
                    .collapse.navbar-collapse(id="navbarSupportedContent")
                        ul.navbar-nav.mx-auto.mb-2.mb-lg-0
                            li.nav-item 
                                a.nav-link.active(
                                aria-current="page",
                                href="#"
                                ) НАШИ УСЛУГИ
                            li.nav-item
                                a.nav-link.active(
                                aria-current="page",
                                href="#"
                                ) ЦЕНЫ
                            li.nav-item
                                a.nav-link.active(
                                aria-current="page",
                                href="#"
                                ) КОНТАКТЫ
                    .last 
                        p.navbar-brand +7 (499) 390-74-51
    
        main
            section
                include pug/top-image
                //-.top-image
                    .container
                        .card.text-bg-dark
                            img.card-img(
                            src='img/backround1.png',
                            alt='Top image'
                            )
                            .card-img-overlay
                                .card-text Праздничное освещение для вашего дома

            section
                include pug/discription-text
                //-.discription-text 
                    .container.overflow-hidden 
                        .row.justify-content-center
                            .col-8
                                .text
                                    |Мы поможем украсить ваш дом, коттедж и 
                                    |прилежащую территорию так, что вы не 
                                    |захотите расставаться с праздником. Мы 
                                    |вместе воплотим самые яркие идеи и сделаем 
                                    |ваш дом ослепительно незабываемым.

            section
                include pug/cards
                //-.cards
                    .container.text-center
                        .row
                            .col
                                .card
                                    img.card-img-top(
                                    src='img/Artboard1.png',
                                    alt='Picture1'
                                    )
                                    .card-body
                                        a(href="#") Оформление деревьев
                            .col
                                .card
                                        img.card-img-top(
                                        src='img/Artboard2.png',
                                        alt='Picture2',
                                        )
                                        .card-body
                                            a(href="#") Новогоднее оформление магазинов и ТЦ
                            .col
                                .card
                                        img.card-img-top(
                                        src='img/Artboard3.png',
                                        alt='Picture3'
                                        )
                                        .card-body
                                            a(href="#") Новогоднее оформление домов

            section
                include pug/price-button
                //-.price-button
                    .container
                        .row
                            .col
                                a.nav-link.active.text-center(href="#") Скачать прайс-лист

            section
                include pug/form
                //-.form
                    .container.background
                        .container-fluid
                            .container.content
                                .row
                                    .col.top-text.text-center Напишите нам!
                                .row 
                                    .col.form-1
                                        form(
                                        action='#'
                                        )
                                            .form-group 
                                                input(
                                                type="(text)",
                                                placeholder='Введите ваше имя',
                                                color='#FFFFFF',
                                                class='form-control',
                                                required
                                                )
                                .row 
                                    .col.form-2
                                        form(
                                        action='#'
                                        )
                                            .form-group 
                                                input(
                                                type="(text)",
                                                placeholder='Введите ваш телефон',
                                                class='form-control',
                                                required
                                                )
                                .row 
                                    .col.form-3
                                        form(
                                        action='#'
                                        )
                                            .form-group 
                                                input(
                                                type="(text)",
                                                placeholder='Напишите ваше сообщение здесь',
                                                class='form-control',
                                                required
                                                )
                                .row.button
                                    .col.form-button
                                        a.nav-link.active.text-center(href="#") Отправить сообщение

        footer 
            include pug/footer
            //-.container.text-center
                    .row
                        .col
                            .card
                                .left
                                    .top info@lightland.ru
                            .card
                                .left
                                    .bot Все права защищены 2009-2017 г
                        .col-5
                            .card
                                .center г. Москва, Каширское ш., 3, корп. 2, стр. 9
                        .col 
                            .card
                                .right
                                    .top +7 (499) 390-74-51
                            .card
                                .right
                                    .bot 
                                        a(href="#") Обратный звонок                                      